<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>404 Not Found</title>
  <link rel="stylesheet" href="./404/style.css" type="text/css">

</head>
<body>
<!-- partial:index.partial.html -->
<!-- <div class="lock"></div> -->
<div class="message" style="text-align:center">
  <h1><b>404 Not Found</b></h1>
  <p>We couldn't find the requested page.</p>
</div>
<!-- partial -->
  
</body>
</html>
