<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>500 Server Error</title>
    <!-- <link rel="stylesheet" href="./500/style.css" type="text/css" /> -->
    <style type="text/css">
      @import url("https://fonts.googleapis.com/css?family=Lato");
      * {
        position: relative;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Lato", sans-serif;
      }

      body {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background: linear-gradient(to bottom right, #EEE, #AAA); */
        background: linear-gradient(
          to bottom right,
          rgb(200, 200, 200),
          rgb(100, 100, 100)
        );
      }

      h1 {
        margin: 40px 0 20px;
      }
    </style>
  </head>
  <body>
    <!-- partial:index.partial.html -->
    <div class="message" style="text-align: center">
      <h1><b>500 Internal Server Error</b></h1>
      <p>We've encountered Internal Server Error.</p>
      <p>
        You can report the bug under this link:
        <a href="https://creoox.com/en/contact/">contact form</a>
      </p>
    </div>
    <!-- partial -->
  </body>
</html>
